
{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<h2 class="titulos">Pedidos:</h2>
<div class="row d-flex justify-content-center">
    {% for pedido in pedidos %}   
     <div class="col-3 sobrepedidos">
        <h1 class="mesa">Mesa {{pedido.mesa}}</h1>
         <p class="infos">Cliente: {{pedido.cliente.nome}}</p>
         <p class="infos">Produto: {{pedido.produto.nome}}</p> 
         <p class="infos">Quantidade: {{pedido.quantidade}}</p>
         <p class="obs">Observação: {{pedido.observacao}}</p>
         <p class="val">Valor: R${{pedido.valor}}</p>
         <a class="btn btn-primary" href="{% url 'conta' pedido.id %}" role="button">Detalhar</a>
     </div>
    {% endfor %} 
</div>
{% endblock conteudo %}
